streamlit==1.38.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.23.0
scikit-learn==1.5.1
scipy==1.14.1
Pillow==10.4.0
beautifulsoup4==4.12.3
requests==2.32.3
wikipedia==1.4.0
firebase-admin==6.5.0
